.header{
background-color: #979797;
min-height: 6em;
color: #D6D6D6;
}

h1{
padding-top: .5em;
padding-left: .5em;
}
.vl {
    border-left: 1px solid black;
    height: 100%;
}
h2{
  margin-left: 1em;
  margin-top: 1.5em;
  letter-spacing: 2px;
}
.form-check-label{

    font-size: 1em;
}
label{

  font-size: 1.5em;
}
.content{

  margin-top: 3em;
}
.card{
  margin-top: 1em;
  border-style: solid;
    border-color: black;
  max-width:50em;
  min-height: 20em;
  background-color: #fff;
}
.card-content{
  margin-top: 2em;
  margin-left: 5em;
  font-size: 14px;
  text-align: left;
}
.filter{
    border-right: 1px solid black;
}
.filter-box{
  margin-top: 2em;

  min-height: 25em;
  max-width: 25em;
  background-color: #eee;
}
.filter-box2{
  margin-top: 2em;

  min-height: 15em;
  max-width: 25em;
  background-color: #eee;
}
.apply{
  float: right;
  position: absolute;
    right: 0;
    margin-right: 1.5em;
}

.control1{
  margin-top: 2em;
margin-left: 2em;
}
.control2{
margin: .3em;
margin-left: 2em;
}
select {

  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: black;
  outline: 0;
}
.custom-control-input:checked~.custom-control-indicator{
  background-color: #000;
}
body::-webkit-scrollbar {
    width: 2em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
   background: grey;

  outline: 1px solid slategrey;
}
::-webkit-scrollbar-button {
  height: 2.5em;
  background: black;
}
